	</html>
	<body>

		<script>
			function cal(x=0,y=0){ // cal(10,20)
				add(x,y) //add(10,20) callback function
				
			}

			function add(a,b){ // add(10,20)
				sum = a + b
					console.log(`Additon: ${sum}`)
			}
			
			wish = (greet) => {
					return (`${greet}`)
			}
			
			res = wish("hi priyankesh")
			console.log(res)
			
			res2 = wish("hi pranita")
			console.log(res2)


			data = ["tom", 21, "mumbai"]
			console.log(data)
			console.log(data[0])
				

			std1 = {"name": "bob", "age": 20, "city": "mumbai"}
			std2 = {"name": "max", "age": 23, "city": "nagpur"}
			std3 = {"name": "harry", "age": 22, "city": "nashik"}
			std4 = ["pranita", 20, "nagpur"]

			students = {
					"student1" : std1,
					"student2" : std2,
					"student3" : std3,
					"student4" : std4
			}
			

			console.log(students)
			console.log(students.student1.name)
			console.log(students.student4[0])

			model1 = {"name": "maruti", "year" : 1990}
			model2 = {"name": "audi", "year" : 2000}
			model3 = {"name": "tata", "year" : 2020}

			cars = [model1, model2, model3]
			
			console.log(cars);
			console.log(cars[0]);
			console.log(cars[1].name);

		</script>
	<body>
</html>
